on: 
  push:
    paths:
      - .github/workflows/download_geocode_qa_archive.yaml
      - R/archive_new_wells.R
      - R/prep_geocode.R
      - R/prep_qa.R
jobs:
  job1:
    runs-on: ubuntu-latest
    container: 
      image: morglum/monrstudio
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}    
    steps:
      - uses: actions/checkout@v2
      - name : copy gwells_geocodeqa script
        run: | 
          mv data github_data
          cp /GWELLS_LocationQA/gwells_locationqa.py /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/
      - name: run download script
        run:  |
          ./python/download.sh
      - name: list files 
        run:  |
          ls * -lh
      - name: archive new wells
        run: |
          Rscript R/archive_new_wells.R            
      - name: list files  data
        run:  |
          ls data/*          
      - name: print the gwells_data_first_appearance csv
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/gwells_data_first_appearance.csv          
      - name: commit that shit  
        run: |      
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add "data/gwells_data_first_appearance.csv"|| echo "No changes to commit"
          git add "data/wells_geocoded.csv"|| echo "No changes to commit"
          git add "data/wells_locationqa.csv"|| echo "No changes to commit"
          git add "data/well_tag_number*.zip"|| echo "No changes to commit"
          git commit -am "add data - automatic update"|| echo "No changes to commit"
          git push origin|| echo "No changes to commit"          
          
      - name: prepare csvs for geocode input
        run: |
          Rscript R/prep_geocode.R
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh
      - name: print the wells csv that will be geocoded
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/wells.csv          
          
      - name: run geocode python script
        run:  |
          ./python/geocode.sh          
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh        
      - name: print the freshly geocoded wells
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/wells_geocoded.csv          
                    
      - name: clean afer geocode
        run: |
          Rscript R/clean_after_geocode.R          
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh            
      - name: print the newly aggregated geocoded wells
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/wells_geocoded.csv                    
      - name: copy esa.tif 
        run: |
          cp /GWELLS_LocationQA/data/esa_bc.tif /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/
      - name: commit that shit  
        run: |      
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add "data/gwells_data_first_appearance.csv"|| echo "No changes to commit"
          git add "data/wells_geocoded.csv"|| echo "No changes to commit"
          git add "data/wells_locationqa.csv"|| echo "No changes to commit"
          git add "data/well_tag_number*.zip"|| echo "No changes to commit"
          git commit -am "add data - automatic update"|| echo "No changes to commit"
          git push origin|| echo "No changes to commit"          
      - name: prepare csv for  quality assurance
        run: |
          Rscript R/prep_qa.R
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh        
      - name: print the table of wells about to be QAed
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/wells.csv                              
      - name: print the table of wells_geocoded about to be QAed
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/wells_geocoded.csv                                        
      - name: run qa script
        run:  |
          ./python/qa.sh          
      - name: print the freshly QAed wells
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/gwells_locationqa.csv    
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh        
      - name: clean afer qa
        run: |
          Rscript R/clean_after_qa.R          
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh                  
      - name: print the new aggregated QAed wells
        run:  |
          python -c 'import sys,pandas; c = pandas.read_csv(sys.stdin); [print(c.transpose())];' < /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/data/gwells_locationqa.csv              
      - name: move archived zip files back from github_data to data so that we dont delete them from repo
        run: |
          mv -n mv github_data/well_tag_number*.zip data/ 
      - name: ls *
        run: |
          ls * -lh
      - name: ls *
        run: |
          ls data/* -lh   
          
      - name: commit that shit  
        run: |      
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add "data/gwells_data_first_appearance.csv"|| echo "No changes to commit"
          git add "data/wells_geocoded.csv"|| echo "No changes to commit"
          git add "data/wells_locationqa.csv"|| echo "No changes to commit"
          git add "data/well_tag_number*.zip"|| echo "No changes to commit"
          git commit -am "add data - automatic update"|| echo "No changes to commit"
          git push origin|| echo "No changes to commit"
      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}