on: 
  push:
    paths:
      - .github/workflows/download_geocode_qa_archive.yaml
jobs:
  job1:
    runs-on: ubuntu-latest
    container: 
      image: morglum/monrstudio
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}    
    steps:
      - uses: actions/checkout@v2
      - name : copy gwells_geocodeqa script
        run: | 
          cp /GWELLS_LocationQA/gwells_locationqa.py /__w/gwells_geocode_and_archive_data/gwells_geocode_and_archive_data/
      - name: run download script
        run:  |
          ./python/download.sh
      - name: list files 
         run:  |
           ls *
         
         
           
           
      # - name: list files  data
      #   run:  |
      #     ls data/*          
      #  - name: archive new wells
      #    run: |
      #      Rscript R/archive_new_wells.R          
      # - name: list files  again
      #   run:  |
      #     ls *
      # - name: list files  data again
      #   run:  |
      #     ls data/*          
#
#
      # - name: download, geocode and qa
      #   run: |
      #     Rscript R/geocode_and_qa.R
      # - name: Commit results
      #   run: |
      #     git config --local user.email "actions@github.com"
      #     git config --local user.name "GitHub Actions"
      #     git add "data/gwells_data_first_appearance.csv"|| echo "No changes to commit"
      #     git add "data/wells_geocoded.csv"|| echo "No changes to commit"
      #     git add "data/wells_locationqa.csv"|| echo "No changes to commit"
      #     git add "data/well_tag_number*.zip"|| echo "No changes to commit"
      #     git commit -am "add data - automatic update"|| echo "No changes to commit"
      #     git push origin|| echo "No changes to commit"
      # - name: Session info
      #   run: |
      #     options(width = 100)
      #     pkgs <- installed.packages()[, "Package"]
      #     sessioninfo::session_info(pkgs, include_base = TRUE)
      #   shell: Rscript {0}          